/*
	* Картинки
*/
$img: '../img/';

/*
	* Цвета
*/

/*
	* Шрифты
*/
$main-font: '', 'Arial', 'Helvetica', sans-serif;
$second-font: '', 'Arial', 'Helvetica', sans-serif;

/*
	* Тени
*/

/*
	* Градиенты
*/

/*
	* Размеры
*/
$container-pc: 1580px;
$container-mb: 1200px;